body{
    height: 89vh;
background: rgb(34,193,195);
background: linear-gradient(10deg, rgb(39 129 110) 0%, rgba(80,44,119,0.5858718487394958) 56%);
background-size: cover;
background-repeat: no-repeat;
}